body {
	color: #faf8f4;
	background-color: #000000;
	font-family: 'Archivo Black', sans-serif;
}

header {
	width: 100%;
	display: inline-block;
}

nav {
	margin-top: 90px;
	font-size: 20px;
	float: right;
	width: 30%;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
}

nav a {
	color: #faf8f4;
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

section,
footer {
	width: 100%;
	font-size: 18px;
	text-align: center;
}

.logo {
	float: left;
}
